n8n/drift-opportunity-intelligence-v1.json
{
  "name": "Drift: Opportunity Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "11111111-0001-4000-8000-000000000001",
      "name": "Daily Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/score",
        "options": {}
      },
      "id": "11111111-0001-4000-8000-000000000002",
      "name": "Score Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11111111-0001-4000-8000-c00000000001",
              "leftValue": "={{ $json.scored }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "11111111-0001-4000-8000-000000000003",
      "name": "Scored > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/interventions",
        "options": {}
      },
      "id": "11111111-0001-4000-8000-000000000004",
      "name": "Generate Interventions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/overview",
        "options": {}
      },
      "id": "11111111-0001-4000-8000-000000000005",
      "name": "Get Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11111111-0001-4000-8000-c00000000002",
              "leftValue": "={{ $json.criticalDrift }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "11111111-0001-4000-8000-000000000006",
      "name": "Critical Drift > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/reports",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "report_type", "value": "daily" },
            { "name": "generated_by", "value": "n8n" }
          ]
        },
        "options": {}
      },
      "id": "11111111-0001-4000-8000-000000000007",
      "name": "Generate Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 60]
    },
    {
      "parameters": {},
      "id": "11111111-0001-4000-8000-000000000008",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Daily Midnight": {
      "main": [
        [{ "node": "Score Opportunities", "type": "main", "index": 0 }]
      ]
    },
    "Score Opportunities": {
      "main": [
        [{ "node": "Scored > 0?", "type": "main", "index": 0 }]
      ]
    },
    "Scored > 0?": {
      "main": [
        [{ "node": "Generate Interventions", "type": "main", "index": 0 }],
        [{ "node": "No Action Needed", "type": "main", "index": 0 }]
      ]
    },
    "Generate Interventions": {
      "main": [
        [{ "node": "Get Overview", "type": "main", "index": 0 }]
      ]
    },
    "Get Overview": {
      "main": [
        [{ "node": "Critical Drift > 0?", "type": "main", "index": 0 }]
      ]
    },
    "Critical Drift > 0?": {
      "main": [
        [{ "node": "Generate Daily Report", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ce-runtime"
  },
  "id": "d8f10000-0001-4000-8000-000000000001",
  "tags": []
}
