n8n/drift-import-processor-v1.json
{
  "name": "Drift: Import Processor",
  "nodes": [
    {
      "parameters": {
        "path": "drift-import",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "44444444-0004-4000-8000-000000000001",
      "name": "Webhook: drift-import",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "44444444-0004-4000-8000-000000000001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/import",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "44444444-0004-4000-8000-000000000002",
      "name": "POST to Import API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ batch_id: $json.batch_id, status: $json.status }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "44444444-0004-4000-8000-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook: drift-import": {
      "main": [
        [{ "node": "POST to Import API", "type": "main", "index": 0 }]
      ]
    },
    "POST to Import API": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ce-runtime"
  },
  "id": "d8f10000-0004-4000-8000-000000000004",
  "tags": []
}
