n8n/drift-intervention-queue-v1.json
{
  "name": "Drift: Intervention Queue",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "22222222-0002-4000-8000-000000000001",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/overview",
        "options": {}
      },
      "id": "22222222-0002-4000-8000-000000000002",
      "name": "Get Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "22222222-0002-4000-8000-c00000000001",
              "leftValue": "={{ $json.pendingInterventions }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "22222222-0002-4000-8000-c00000000002",
              "leftValue": "={{ $json.criticalDrift }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "22222222-0002-4000-8000-000000000003",
      "name": "Low Queue & Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/interventions",
        "options": {}
      },
      "id": "22222222-0002-4000-8000-000000000004",
      "name": "Generate Interventions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180]
    },
    {
      "parameters": {},
      "id": "22222222-0002-4000-8000-000000000005",
      "name": "Queue Sufficient",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [{ "node": "Get Overview", "type": "main", "index": 0 }]
      ]
    },
    "Get Overview": {
      "main": [
        [{ "node": "Low Queue & Critical?", "type": "main", "index": 0 }]
      ]
    },
    "Low Queue & Critical?": {
      "main": [
        [{ "node": "Generate Interventions", "type": "main", "index": 0 }],
        [{ "node": "Queue Sufficient", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ce-runtime"
  },
  "id": "d8f10000-0002-4000-8000-000000000002",
  "tags": []
}
