n8n/drift-opportunity-intelligence-v1.json
{
  "id": "drift-opp-intel-v1",
  "name": "Drift: Opportunity Intelligence",
  "active": false,
  "nodes": [
    {
      "id": "node-schedule-daily",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-score-opps",
      "name": "Score Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "node-if-scored",
      "name": "Scored > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-scored",
              "leftValue": "={{ $json.scored }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-gen-interventions",
      "name": "Generate Interventions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -120],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/interventions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "node-get-overview",
      "name": "Get Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -120],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/overview",
        "options": {}
      }
    },
    {
      "id": "node-if-critical",
      "name": "Critical Drift > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, -120],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-critical",
              "leftValue": "={{ $json.criticalDrift }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-daily-report",
      "name": "Generate Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -240],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"report_type\": \"daily\",\n  \"generated_by\": \"n8n\"\n}",
        "options": {}
      }
    },
    {
      "id": "node-no-action",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 120],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [{ "node": "Score Opportunities", "type": "main", "index": 0 }]
      ]
    },
    "Score Opportunities": {
      "main": [
        [{ "node": "Scored > 0?", "type": "main", "index": 0 }]
      ]
    },
    "Scored > 0?": {
      "main": [
        [{ "node": "Generate Interventions", "type": "main", "index": 0 }],
        [{ "node": "No Action Needed", "type": "main", "index": 0 }]
      ]
    },
    "Generate Interventions": {
      "main": [
        [{ "node": "Get Overview", "type": "main", "index": 0 }]
      ]
    },
    "Get Overview": {
      "main": [
        [{ "node": "Critical Drift > 0?", "type": "main", "index": 0 }]
      ]
    },
    "Critical Drift > 0?": {
      "main": [
        [{ "node": "Generate Daily Report", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Drift" }],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
