n8n/drift-notification-alerts-v1.json
{
  "name": "Drift: Notification Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */12 * * *"
            }
          ]
        }
      },
      "id": "55555555-0005-4000-8000-000000000001",
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.DRIFT_BASE_URL }}/api/drift/overview",
        "options": {}
      },
      "id": "55555555-0005-4000-8000-000000000002",
      "name": "Get Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "55555555-0005-4000-8000-c00000000001",
              "leftValue": "={{ $json.criticalDrift }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "55555555-0005-4000-8000-c00000000002",
              "leftValue": "={{ $json.overdueFollowups }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "55555555-0005-4000-8000-000000000003",
      "name": "Alert Conditions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const overview = $input.first().json;\nconst reasons = [];\n\nif (overview.criticalDrift > 0) {\n  reasons.push(`${overview.criticalDrift} critical drift account(s)`);\n}\nif (overview.overdueFollowups > 5) {\n  reasons.push(`${overview.overdueFollowups} overdue follow-up(s)`);\n}\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  alertSummary: `DRIFT ALERT: ${reasons.join(' | ')}`,\n  criticalDrift: overview.criticalDrift,\n  overdueFollowups: overview.overdueFollowups,\n  pendingInterventions: overview.pendingInterventions\n};\n\nconsole.log('[Drift Alert]', JSON.stringify(summary));\nreturn [{ json: summary }];"
      },
      "id": "55555555-0005-4000-8000-000000000004",
      "name": "Log Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "operation": "message",
        "channel": "#drift-alerts",
        "text": "={{ $json.alertSummary }}",
        "otherOptions": {}
      },
      "id": "55555555-0005-4000-8000-000000000005",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1120, 180],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "55555555-0005-4000-8000-000000000006",
      "name": "No Alerts",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Every 12 Hours": {
      "main": [
        [{ "node": "Get Overview", "type": "main", "index": 0 }]
      ]
    },
    "Get Overview": {
      "main": [
        [{ "node": "Alert Conditions?", "type": "main", "index": 0 }]
      ]
    },
    "Alert Conditions?": {
      "main": [
        [{ "node": "Log Alert", "type": "main", "index": 0 }],
        [{ "node": "No Alerts", "type": "main", "index": 0 }]
      ]
    },
    "Log Alert": {
      "main": [
        [{ "node": "Send Slack Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ce-runtime"
  },
  "id": "d8f10000-0005-4000-8000-000000000005",
  "tags": []
}
