n8n/workflows/ce-signals-review-alert.json
{
  "name": "CE Signals — Review Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "c3000003-0001-4000-8000-000000000003",
      "name": "Daily 08:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/signals?status=eq.in_review&select=id,title,category,created_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3000003-0002-4000-8000-000000000003",
      "name": "Get In-Review Signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const signals = $input.first().json;\nconst arr = Array.isArray(signals) ? signals : [];\nconst count = arr.length;\nconst titles = arr.map(s => s.title || s.id).join(', ');\nconst summary = count > 0\n  ? `CE Signals — ${count} signal(s) awaiting review: ${titles}`\n  : 'No signals in review';\nconsole.log('[Review Alert]', summary);\nreturn [{ json: { count, titles, summary } }];"
      },
      "id": "c3000003-0003-4000-8000-000000000003",
      "name": "Count & Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3000003-cond-0001",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3000003-0004-4000-8000-000000000003",
      "name": "Signals In Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3000003-asgn-0001",
              "name": "alert_message",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "c3000003-asgn-0002",
              "name": "signal_count",
              "value": "={{ $json.count }}",
              "type": "number"
            },
            {
              "id": "c3000003-asgn-0003",
              "name": "notify_email",
              "value": "={{ $env.CE_NOTIFY_EMAIL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3000003-0005-4000-8000-000000000003",
      "name": "Alert: Signals Pending",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 180]
    },
    {
      "parameters": {},
      "id": "c3000003-0006-4000-8000-000000000003",
      "name": "No Signals In Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Daily 08:00 UTC": {
      "main": [
        [{ "node": "Get In-Review Signals", "type": "main", "index": 0 }]
      ]
    },
    "Get In-Review Signals": {
      "main": [
        [{ "node": "Count & Build Summary", "type": "main", "index": 0 }]
      ]
    },
    "Count & Build Summary": {
      "main": [
        [{ "node": "Signals In Review?", "type": "main", "index": 0 }]
      ]
    },
    "Signals In Review?": {
      "main": [
        [{ "node": "Alert: Signals Pending", "type": "main", "index": 0 }],
        [{ "node": "No Signals In Review", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ce-runtime"
  },
  "id": "c3000003-0000-4000-8000-000000000003",
  "tags": []
}
